extends layout.pug 

block content
    script(src="/javascript/upload.avatar.js")
    script(src="/javascript/modal.js")
    if admin
        div(class='mt-48 w-6/12 m-auto font-nav1' id="profil").bg-gray-300.border.border-gray-200.rounded-lg.shadow
            
            .flex.flex-col.items-center.py-5
                form(action="/upload/avatar", method="post" id="formAvatar", enctype="multipart/form-data" class="relative")
                    input(type="file" name ="avatar" class="hidden" id="uploadFile")
                    img.w-24.h-24.mb-3.rounded-full.shadow-lg(class="hover:opacity-80 duration-75 cursor-pointer" src=`${userSession.avatar}`, alt=`${userSession.username} avatar`)
                h5.mb-1.text-xl.font-medium.text-gray-900=userSession.username
                span.text-sm.text-white(class="lg:text-base")=userSession.team.teamname


            .flex.flex-col.items-center.px-4.text-center
                    
                #dropdown.z-10.hidden.list-none.bg-white.divide-y.divide-gray-100.rounded-lg.shadow
                ul
                    li
                    a.block.px-4.py-2.text-sm.text-gray-700(class='hover:bg-gray-200 duration-100 lg:text-base cursor-pointer' id='editProfil') Mofidier vos informations
                    li
                    a.block.px-4.py-2.text-sm.text-red-600(class='hover:bg-gray-200 duration-100 lg:text-base cursor-pointer' id='deleteProfil') Supprimer votre compte
                    li 
                    a.block.px-4.py-2.mb-2.text-sm.text-gray-700(class='hover:bg-gray-200 duration-100 lg:text-base cursor-pointer' id="addScore") Ajouter le score d'un match    

                
    else                      
        div(class='mt-48 w-6/12 m-auto font-nav1' id="profil").bg-gray-300.border.border-gray-200.rounded-lg.shadow
            
            .flex.flex-col.items-center.py-5
                form(action="/upload/avatar", method="post" id="formAvatar", enctype="multipart/form-data" class="relative")
                    input(type="file" name ="avatar" class="hidden" id="uploadFile")
                    img.w-24.h-24.mb-3.rounded-full.shadow-lg(class="hover:opacity-80 duration-75 cursor-pointer" src=`${userSession.avatar}`, alt=`${userSession.username} avatar`)
                h5.mb-1.text-xl.font-medium.text-gray-900=userSession.username
                span.text-sm.text-white(class="lg:text-base")=userSession.team.teamname


            .flex.flex-col.items-center.px-4.text-center
                    
                #dropdown.z-10.hidden.list-none.bg-white.divide-y.divide-gray-100.rounded-lg.shadow
                ul
                    li
                    a.block.px-4.py-2.text-sm.text-gray-700(class='hover:bg-gray-200 duration-100 lg:text-base cursor-pointer' id='editProfil') Mofidier vos informations
                    li
                    a.block.px-4.py-2.text-sm.text-red-600(class='hover:bg-gray-200 duration-100 lg:text-base cursor-pointer' id='deleteProfil') Supprimer votre compte

    include modals/modal.edit.pug
    include modals/modal.delete.profil.pug
    include modals/modal.add.score.pug